<StackLayout>
    <Label text="Eventos" class="sideLabel sideLabelHeader"></Label>
    <Label text="Mi cuenta"  class="sideLabel sideLabelHeader"></Label>
    <Label text="Cerrar sesión"  class="sideLabel" (tap)="logout()"></Label>
</StackLayout>