<StackLayout>
    <FlexBoxLayout class="event-title">
        <StackLayout>
            <Label [text]="event.name" class="title"></Label>
            <Label [text]="event.date | date"></Label>
        </StackLayout>
    </FlexBoxLayout>

    <StackLayout class="item">
        <Label [text]="event.description"></Label>
        <Button text="Voy a asistir" class="btn-primary top-space"></Button>
    </StackLayout>
    
</StackLayout>