<StackLayout class="event-form">
    <ScrollView>
        <StackLayout>
            <Label [text]="errors"></Label>

            <Label text="Nombre del evento"></Label>
            <TextField hint="Coloca el nombre del evento" [(ngModel)]="name"></TextField>

            <Label text="Descripción del evento"></Label>
            <TextField hint="Coloca la descripción del evento" [(ngModel)]="description"></TextField>

            <Label text="Día del evento"></Label>
            <DatePicker #datepicker (loaded)="setDatePicker(datepicker)"></DatePicker>

            <Label text="Hora del evento"></Label>
            <TimePicker #timepicker (loaded)="setTimePicker(timepicker)"></TimePicker>

            <Button text="Agregar evento" class="btn-primary" (tap)="add()"></Button>
        </StackLayout>
    </ScrollView>
    
</StackLayout>