@import 'nativescript-theme-core/scss/ruby';


$btn-color:$blue;
$btn-color-inverse:#eee;

@import 'nativescript-theme-core/scss/index';

.event-title{
    background-image: url("res://md-bg");
    height: 180px;
    align-items: flex-end;
    color:white;
    padding:10px;
    .title{
        font-size:32px;
        display: block;
    }
}
.top-space{
    margin-top: 30px;
}
.item{
    border: none;
    padding:10px 15px;
}
.sideStackLayout{
    background-color: white;
}

.sideLabel{
    padding:10;
}
.sideLabelHeader{
    background-color: #eee;
}

.btn-flat{
    border-width: 1;
}
.registration-form, .event-form{
    padding:1em;
    margin-top:80px;
    TextField{
        margin-bottom: 15px;
        border-color:#eee;
        border-bottom-width: 2;
    }
    Button{
        margin-bottom: 15px;
    }
    TextField,Button,Label,DatePicker,TimePicker{
        width:80%;
    }
}
.event-form{
    margin-top:0px;
}