<ns-actionbar (menuTriggered)="openDrawer()"></ns-actionbar>
<StackLayout>
    <RadSideDrawer>
        <StackLayout tkDrawerContent class="sideStackLayout">
            <ns-side-menu></ns-side-menu>
        </StackLayout>
        <StackLayout tkMainContent>
            <page-router-outlet></page-router-outlet>
        </StackLayout>
    </RadSideDrawer>
</StackLayout>


