<ListView [items]="events$ | async">
    <template let-event="item">
        <StackLayout class="item" (tap)="openEvent(event)">
            <Label [text]="event.name"></Label>
        </StackLayout>
    </template>
</ListView>