<ActionBar title="Ingresa a tu cuenta" class="action-bar">
    <NavigationButton icon="res://ic_menu_white_36dp" ios:visibility="collapse" (tap)="openDrawer()"></NavigationButton>
    <ActionItem icon="res://ic_menu_white" android:visibility="collapse" (tap)="openDrawer()"></ActionItem>

    <ActionItem (tap)="openEventForm()"
                ios.position="right"
                android.position="right"
                text="Nuevo evento"
                icon="res://ic_add_white"></ActionItem>
</ActionBar>