
<FlexboxLayout flexDirection="column" class="registration-form" alignItems="center">
    <label text="Email"></label>
    <TextField hint="Correo electrónico" keyboardType="email" [(ngModel)]="email"></TextField>

    <Label text="Contraseña"></Label>
    <TextField hint="Confirma tu contraseña anterior" secure="true" [(ngModel)]="password"> </TextField>

    <Button text="Ingresar a tu cuenta" class="btn-primary" (tap)="login()"></Button>

    <Button text="Registro" class="btn-flat" (tap)="goToSignUp()"></Button>

</FlexboxLayout>