<FlexboxLayout flexDirection="column" class="registration-form" alignItems="center">
    <Label [text]="error"></Label>

    <label text="Email"></label>
    <TextField hint="Correo electrónico" keyboardType="email" [(ngModel)]="email"></TextField>

    <Label text="Contraseña"></Label>
    <TextField hint="Contraseña de al menos 6 caracteres" secure="true" [(ngModel)]="password"></TextField>

    <Label text="Confirmar contraseña"></Label>
    <TextField hint="Confirma tu contraseña anterior" secure="true" [(ngModel)]="passwordConfirmation"></TextField>

    <Button text="Crear cuenta" (tap)="signUp()" class="btn-primary"></Button>

    <Button text="Registro" class="btn-flat" (tap)="goToSignUp()"></Button>

</FlexboxLayout>