<ActionBar title="My App" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" text="Hola mundo"
                class="list-group-item"></Label>
        </template>
    </ListView>
</StackLayout>
